#add-user{
    .input-col-name{
        margin-left: 5px;
    }
    .input-col-user{
        margin-left: -5px;
    }
    .input-col-email{
        margin-left: 5px;
    }
    .modal-before{
      height: 32%
      
    }
  
}