<div id="add-user" style="margin-top: 155px; padding-bottom:0px; " class="modal-content">
    <div class="compose-header modal-header bg-success">
        <!--<i class="ion-checkmark modal-icon"></i>--><span style="font-size:19px;">{{vm.title}}</span>
        <span class="header-controls">
            <button type="button" class="btn btn-success btn-icon"
                    style="background-color: transparent; border-color:transparent; border-radius:35px;" ng-click="$dismiss()">
                <i class="ion-close-circled"></i>
            </button>
        </span>
    </div>
    <div class="">
        <form name="addRolesForm" autocomplete="off" novalidate>
            <div class="modal-body text-left">
                <div class="form-group" ng-class="{'has-error': addRolesForm.role.$invalid && (addRolesForm.role.$dirty || addRolesForm.$submitted)}">
                    <label for="input01">Perfil</label>
                    <input type="text" name="role" class="form-control" id="input01" ng-model="vm.role.name" placeholder="Escriba el perfil..." required>
                    <span class="help-block error-block basic-block" style="color:red; margin-left: 8px;">El campo Perfil es requerido</span>
                </div>
                <div class="form-group">
                    <label for="input02">Descripcion</label>
                    <input type="text" class="form-control" id="input02" ng-model="vm.role.description" placeholder="Ingrese una descripcion...">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="save" style="float:left" class="btn resetPrice btn-primary" ng-disabled="addRolesForm.$invalid" ng-click="$dismiss(); vm.saveRole()">Guardar</button>
            </div>
        </form>
    </div>
</div>

