<div class="auth-block" id="login">
    <form class="form-horizontal" name="loginForm" novalidate>
        <div>
            <img class="logo" src="/assets/img/logo/Logo.png" />
        </div>
        <label class="label-title">Bienvenido Al Sistema de Reservacion</label>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-feedback"
                     ng-class="{'has-error': loginForm.user.$invalid && (loginForm.user.$dirty || loginForm.$submitted)}">
                    <label for="inputEmail3" class="col-sm-2 label-user control-label">Usuario</label>
                    <input type="text" class="form-control input-user form-control-rounded" name="user" ng-model="vm.user.user" placeholder="Usuario"
                           ng-pattern="/[a-zA-Z0-9^ ]/" required>
                    <span class="help-block error-block basic-block">El campo nombre es requerido</span>
                </div>
                <div class="form-group has-feedback"  
                     ng-class="{'has-error': loginForm.password.$invalid && (loginForm.password.$dirty || loginForm.$submitted)}">
                    <label for="inputPassword3" class="col-sm-2  label-password control-label">Contraseña</label>
                    <input type="password" class="form-control input-password form-control-rounded" name="password" ng-model="vm.user.password" placeholder="Contraseña" required>
                    <span class="help-block error-block basic-block">El campo nombre es requerido</span>
                </div>
            </div>
       </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-auth btn-login" ng-click="vm.login()"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine">Iniciar sesión</button>
          <!--<a href class="forgot-pass">Forgot password?</a>-->
        </div>
      </div>
    </form>
  </div>
