#login{
    .logo{
    margin-top: 17px;
    margin-left: 197px;
    }
    .label-user{
      top: 35px;
    left: 175px;
    }
    .input-user{
        
      margin-left: 278px;
    }
    .label-password{
         left: 172px;
         top: 37px;
    }
    .input-password{
       margin-left: 277px;
    }
    .btn-login{
       margin-left: 99px;
    }
    .label-title{
       font-family: initial;
       font-size: 20px;
       font-weight: bold;
       margin-left: 292px;
    }
}
