<div style="margin-top: 155px; padding-bottom:0px; " class="modal-content">
    <div class="compose-header modal-header bg-success">
        <!--<i class="ion-checkmark modal-icon"></i>--><span style="font-size:19px;"> Agregar perfil</span>
        <span class="header-controls">
            <button type="button" class="btn btn-success btn-icon"
                    style="background-color: transparent; border-color:transparent; border-radius:35px;" ng-click="$dismiss()">
                <i class="ion-close-circled"></i>
            </button>
        </span>
    </div>
    <div class="modal-body text-left">
        <div class="form-group">
            <select class="form-control selectpicker with-search" data-live-search="true" title="Usuario" selectpicker
                    ng-model="selectpickerVm.searchSelectedItem"
                    ng-options="item as item.label for item in selectpickerVm.selectWithSearchItems"></select>
        </div>
        <div class="form-group">
            <select class="form-control selectpicker with-search" data-live-search="true" title="Usuario" selectpicker
                    ng-model="selectpickerVm.searchSelectedItem"
                    ng-options="item as item.label for item in selectpickerVm.selectWithSearchItems"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" style="float:left" class="btn resetPrice btn-primary" ng-click="$dismiss()">Guardar</button>
    </div>
</div>