<div ba-panel id="lodgment" ba-panel-class="user-page">
    <div class="horizontal-scroll">
        <center>
            <h3 class="al-title ng-binding">Fechas de estancia</h3>
            &nbsp;&nbsp;
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" placeholder="Desde..." class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dtFrom" is-open="vm.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly />
                    <span class="input-group-btn">
                        <button type="button" id="customizablebtn" class="btn" ng-click="vm.dtPickeropen1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            &nbsp;&nbsp;
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" placeholder="Hasta..." class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dtTo" is-open="vm.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly />
                    <span class="input-group-btn">
                        <button type="button" id="customizablebtn" class="btn" ng-click="vm.dtPickeropen2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            &nbsp;&nbsp;
        </center>
        <table class="table" st-table="smartTableData">
            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <center>
            <h3 class="al-title ng-binding">Personas / habitaciones</h3>
            <label>
                <select class="form-control selectpicker " selectpicker title="optionsCatalog"
                        ng-model="vm.standardSelected"
                        ng-options="item as item.label for item in vm.standardSelectItems"></select>
            </label>
            <!--<label>
                <select class="form-control selectpicker show-tick" title="optionsCatalog" selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in ['2 personas / 2 habitaciones','2 personas / 1 habitacion','otros...']"></select>
            </label>-->
            &nbsp;&nbsp;
            <button type="button" name="save" style="float:none" class="btn resetPrice btn-primary" ng-click="vm.selectionComboBox()">Aplicar</button>
        </center>
        <!--<label>
            filas por página
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]"></select>
        </label>-->
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Personas</th>
                    <th>Habitaciones</th>
                </tr>
                <tr ng-repeat="persons in vm.dataSelected">
                    <td></td>
                    <td>{{persons.adultsQuantity}}</td>
                    <td>{{persons.roomQuantity}}</td>
                </tr>
            </table>
        </div>
        <br /><br />
        <!--<div style="float:left; width: 82%; padding: 5px 5px;">
            <button title="Reset Pricing" ng-click="" type="button" tooltip-placement="{{placement.selected}}" uib-tooltip="Agregar otra habitacion {{placement.selected}}"
                    class="btn md-icon-button btn-mini resetPrice btn-primary" data-placement='bottom'>
                <i class="ion-plus-circled"></i>
            </button>
        </div>-->

        <br /><br /><br />
        <br />
        <!-- /////////////////////////////////////// -->
        <!--///////////////////////////////////////// -->
        <!--<div class="horizontal-scroll">
            <table class="table">
                <thead>
                    <tr class="black-muted-bg">
                        <th>Habitacion#</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cantidad adultos</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td ng-class="nowrap">1</td>
                        <td>
                            <div style="padding: 5px 50px;" class="form-group">
                                <input type="number" name="adult" min="1" max="5" required>
                            </div>
                        </td>
                        <td>
                            <button title="Edit" ng-click="vm.AddRolesDialog(roles)" type="button" tooltip-placement="{{placement.selected}}" uib-tooltip="cantidad niños  {{placement.selected}}"
                                    class="btn md-icon-button btn-mini radiusbtn" data-placement='bottom'>
                                <i class="ion-happy-outline"></i>
                            </button>
                            <button title="Delete" ng-click="" type="button" tooltip-placement="{{placement.selected}}" uib-tooltip="Quitar {{placement.selected}}"
                                    class="btn md-icon-button btn-mini radiusbtn" data-placement='bottom'>
                                <i class="ion-trash-b"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="">
                        <td ng-class="nowrap">2</td>
                        <td>
                            <div style="padding: 5px 50px;" class="form-group">
                                <input type="number" name="adult" min="1" max="5" required>
                            </div>
                        </td>
                        <td>
                            <button title="Edit" ng-click="vm.AddRolesDialog(roles)" type="button" tooltip-placement="{{placement.selected}}" uib-tooltip="cantidad niños  {{placement.selected}}"
                                    class="btn md-icon-button btn-mini radiusbtn" data-placement='bottom'>
                                <i class="ion-happy-outline"></i>
                            </button>
                            <button title="Delete" ng-click="" type="button" tooltip-placement="{{placement.selected}}" uib-tooltip="Quitar {{placement.selected}}"
                                    class="btn md-icon-button btn-mini radiusbtn" data-placement='bottom'>
                                <i class="ion-trash-b"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>-->
    </div>
    <button type="button" name="save" style="float:none; padding: 5px 5px;" class="btn resetPrice btn-primary" ng-click="vm.goToRecordStay()">Confirmar esta seleccion</button>
</div>
